<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
        <div class="container">
            <h1>PhoneBook App</h1>
            <hr>
            <div class="folders-container">
                
                
                <a href="/category/personal"><div>
                    <i class="fas fa-user" style="background-color: rgb(17, 160, 248);"></i>
                    <h1>Personal</h1>
                </div></a>

                <a href="/category/work"><div>
                    <i class="fas fa-briefcase" style="background-color: orange;"></i>
                    <h1>Work</h1>
                </div></a>

                <a href="/category/school"><div>
                    <i class="fas fa-book-reader" style="background-color: grey;"></i>
                    
                    <h1>School</h1>
                </div></a>
               
                <a href="/category/other"><div>
                    <i class="fas fa-grip-horizontal" style="background-color: red;"></i>
                    <h1>Other</h1>
                </div></a>
            </div>

            <div class="list-container">
                
                <i class="fas fa-list" ></i>
                <h1 style="display: inline-block;">Add Contact</h1>
                <a href="/list"><i class="fas fa-plus-circle" ></i></a>
            </div>

        </div>
</body>
</html>